<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Cliente</title>
</head>
<body>
    <h1>Detalles del Cliente</h1>
    <p>ID: <%= cliente.ID_CLIENTE %></p>
    <p>Nombre: <%= cliente.NOMBRE %></p>
    <p>NIT: <%= cliente.NIT %></p>
    <p>Dirección: <%= cliente.DIRECCION %></p>
    <p>Precio: <%= cliente.PRECIO %></p>
    <p>Estado: <%= cliente.ESTADO %></p>
    <p>Teléfono: <%= cliente.TELEFONO %></p>
    <p>Fecha: <%= cliente.FECHA %></p>
</body>
</html>